<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sandeep Gurav Prfile</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="style.css" rel="stylesheet">
</head>
<body class="bodyCss">

<!-- Navigation -->
<nav class="container navbar navbar-expand-md navbar-light bg-light sticky-top">
	<div class="container-fluid">
		<b><a class="navbar-brand nameCss" href="#"> Sandeep Gurav</a></b>
		<div class ="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#aboutMe" >About me</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#skillSet" >Skill Set</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#education" data-target="#jumbotron">Education</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#experience" >Experience</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#connect" >Connect</a>
				</li>
			</ul>
	</div>
</nav>

<!--- Two Column Section -->
<div class="container">
	<div id="aboutMe" class="row jumbotron rounded">
   		<div class="col-md-12 col-lg-10 ">
				<h3>About me</h3>
				<hr/>
				<p>Hello,</p>
				<ul style="list-style-type:square;">
<li>Almost, 10 years of hands-on web application’s development experience as a full stack developer (OCWCD and SCJP Certified) in Core Java and J2EE with proven expertise in writing application architecture and core design ground up with sound algorithmic thought process enabling bullet-proof application performance in terms of key drivers like security, load, scalability, etc.</li>
<li>Great experience in designing and developing SaaS based application with end to end features. </li>
<li>Experience on several projects at small, medium and large scale in banking, travel and vendor management functional areas.</li>
<li>Interact with BA, QA and other stakeholders for requirement clarification, status communication, forecasting and prioritization of work.</li>
<li>Perform root cause analysis of defects; recommend and implement comprehensive defect prevention processes for the assigned product/s or projects to achieve reduction in defects.</li>
<li>Code review and unit test case review for critical development items.</li>
<li>Manage, guide and motivate a team to produce desired results. Responsible for performance appraisals, career path guidance and trainings. </li>
       </ul>
				<div class="row">
				  <div class="col-sm-5"><b>Name:</b> Sandeep Gurav</div>
				  <div class="col-sm-5"><b>Location:</b>  Delaware, USA</div>
				</div>
				<div class="row">
				  <div class="col-sm-5"><b>Birthday:</b> 26 May,1986</div>
				  <div class="col-sm-5"><b>Email:</b> sandeeprgurav@gmail.com</div>
				</div>
			</div>
			<div class="col-md-12 col-lg-2">
				<img src="../img/profile.png" class="img-fluid">
				<div class="title">Sandeep Gurav</div>
				<div class="title">Fullstack Developer</div>
			</div>
  </div>

 <div id="skillSet" class="jumbotron text-black rounded">
		<h3>Skill Set:</h3>
		<hr/>
		<p><b>Web Technologies:</b> Core Java, JSP, Servlet, HTML, CSS, jQuery, SQL and JavaScript.</p>
		<p><b>Web Application Frameworks:</b> ReactJS, NodeJS, Spring Boot, Swagger, REST API, Spring3.0, Hibernate3.0, Struts1.3, Apache Kafka, DevOps, Jasper Report, AWS, Azure, Microservices and Google Web Toolkit (GWT).</p>
		<p><b>Automation Testing Frameworks:</b> Selenium WebDriver, Cucumber, TestNG.</p>
		<p><b>Databases:</b> Mongo Db, MS-SQL, Oracle and SAP HANA.</p>
		<p><b>IDEs:</b> Eclipse, Idea IntelliJ, Visual Studio, Atom.</p>
		<p><b>Tools:</b>  Jenkins, GIT, MKS, SVN, Bamboo, Maven, ANT, Gradle.</p>
		<br/>
  </div>

 <div id="education" class="jumbotron rounded">
  <h3>Education:</h3>
	<hr/>
	<div class="conainer-fluid padding">
		<div class="row text-center padding">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<img src="../img/wilmington.jpg" class="align-self-start mr-3" style="width:160px">
				<h3>MS-IT</h3>
				<p>Wilmington University, New Castle, Delaware,19720,USA</p>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<img src="../img/mumbaiUniversity.png" class="align-self-start mr-3" style="width:160px">
				<h3>MBA-IT</h3>
				<p>Mumbai University, Mumbai, Maharashtra, India</p>
			</div>
			<div class="col-sm-12 col-md-4">
				<img src="../img/mumbaiUniversity.png" class="align-self-start mr-3" style="width:160px">
				<h3>BE-EXTC</h3>
				<p>Mumbai University, Mumbai, Maharashtra, India</p>
			</div>
		</div>
	</div>
	<br/>
</div>

<div id="experience" class="jumbotron rounded">
 <h3>Experience:</h3>
 <hr/>
 <div class="media">
	 <img src="../img/sap.png" class="align-self-start mr-3" style="width:60px">
	 <div class="media-body">
		 <h4>SAP Labs (NAPERVILLE, CHICAGO, USA)  </h4>
		 <p>This application provides the leading SaaS platform to procure and manage contingent workers,
			 services such as statement of work projects, independent contractors, and specialized talent pools.
			 This application used to help Global 2000 firms in nearly 70 countries.</p>
		 <b>Responsibilities:</b>
		 <ul>
				 <li>Development of new features using Struts, Spring, JQuery, custom frameworks etc. </li>
			   <li>Development of internal projects using ReactJs, Spring Boot and Mongodb.</li>
				 <li>Participated in design meeting for new features with BA, QA and other stakeholders.</li>
				 <li>Implemented continuous build, testing and deploy using Jenkins for internal projects.</li>
				 <li>Worked on POC using Apache Kafka to improve throughput of msessaging servcies.</li>
				 <li>Worked on AWS to develop POC to store files data into cloud databases for easy scalability.</li>
				 <li>Developed Rest API using Spring Boot for mobile application’s front end.</li>
				 <li>Worked as lead developer to convert monolithic application to microservices based application.</li>
				 <li>Developed basic automation testing framework for QA team using Selenium and TestNG.</li>
     </ul>
	 </div>
 </div>
 <br/>

 <div class="media">
	 <img src="../img/jet.png" class="align-self-start mr-3" style="width:60px">
	 <div class="media-body">
		 <h4>GLOBAL TRAVEL SOLUTIONS - JET ENTERPRISE (MUMBAI, INDIA) </h4>
		 <p>This system facilitating users to plan and do booking for all domestic and international flights linked with hotels,
			 rented Car and other relevant stuff to provide as complete travel package with the help of shopping cart. </p>
		 <b>Responsibilities:</b>
		 <ul>
				 <li>Designed and developed User Management, Airline schedule and Booking  modules. </li>
			   <li>Developed exception, caching, logging frameworks. (GWT, Spring, Hibernate and MSSQL DB)</li>
     </ul>
	 </div>
 </div>
 <br/>

 <div class="media">
	 <img src="../img/isg.png" class="align-self-start mr-3" style="width:60px">
	 <div class="media-body">
		 <h4>INSOLUTION GLOBAL PVT LTD. (MUMBAI, INDIA) </h4>
		 <p>This system processes all credit card operation related data files e.g. Switch, payment, billing, merchant settlement files.
			  Using this system reconciliation of all these data files with respective data files can carried out on daily basis to check the authorization,
			 billing and received payments transactions are correct or not .</p>
		 <b>Responsibilities:</b>
		 <ul>
				 <li>Development of ‘File Processing and Reconciliation’ module which process all uploaded files into database server and reconciled the all uploaded data. (Struts, JQuery,MSSQL database) </li>
			   <li>Development of all MIS reports for uploaded and reconciled sources. Performed code validation and peer reviews.</li>
     </ul>
	 </div>
 </div>
</div>

<!--- Connect -->
<div id="connect" class="jumbotron rounded">
	<div class="container-fluid padding">
		<div class="row text-center padding">
	   <div class="col-12">
			 <h2>Connect </h2>
		 </div>
		 <div class="col-12 social padding">
			 <a href="https://www.facebook.com/sandeep.gurav.357" target="_blank"><i class="fab fa-facebook"></i></a>
			 <a href="https://twitter.com/home" target="_blank"><i class="fab fa-twitter"></i></a>
			 <a href="https://aboutme.google.com/" target="_blank"><i class="fab fa-google-plus-g"></i></a>
			 <a href="https://www.linkedin.com/in/sandeep-gurav-41001428/" target="_blank"><i class="fab fa-linkedin"></i></a>
			 <a href="https://www.youtube.com/channel/UCmJuG155Jo30S7PF6mCznpA?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
		 </div>
	</div>
	</div>
	</div>
</div>


</body>
</html>
